<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop-image</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'min_css.css' %}" type="text/css">
</head>
<body>
  <div id="wrap">
    <div id="top">
      <a href="{% url 'home' %}">HOME</a>
      <div class="log">
        {% if user.is_authenticated %}
          <p>Hi {{ user.username }}!</p>
          <a href="{% url 'logout' %}">Log out</a>
        {% else %}
          <p>You are not logged in.</p>
          <a href="{% url 'login' %}">Log In</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
       </div>
    </div>
    <div id="left">
      {% include "image_left.html" %}
    </div>
    <div id="right">
      {% include "image_right.html" %}
    </div>
    {% block content %}
    {% endblock content %}

  </div>
</body>
</html>
