{% block content %}
  {% for img in all_image_list %}
    <div class="right_img">
      <h2><a href="">{{img.title}}</a></h2>
      <p><img src='{{ img.image.url }}' width="200" height="200"></p>
      <p>category: {{img.category}}</p>
      <p>date: {{img.date}}</p>
      <p>price: {{img.price}} ₴ </p>
      <p>like: {{img.like}}</p>
      <form action="" method="post">
        <a href="{% url 'form_buy' %}"><input type="button" name="buy" value="Buy"></a>
      </form>
    </div>
  {% endfor %}
{% endblock content %}
