{% block content %}
  <div class="left_img">
    <p>выберите как хотите отсортировать картинки</p>
    <form action="" method="post">
      {% csrf_token %}
      {{ form1.as_p }}
      <input type="submit" name="flt_category" value="OK">
    </form>
  </div>
{% endblock content %}



<!--

  <div class="left_img">
    <p>выберите как хотите отсортировать картинки</p>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="OK">


    </form>
    {{ text }}
  </div>


-->

